[project]
	description = AI Distinguishers for cryptographic functions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tpu01yzx
[access "refs/for/refs/*"]
	read = group user/tpu01yzx
	push = group user/tpu01yzx
	label-Code-Review = -2..+2 group user/tpu01yzx
	label-Verified = -1..+1 group user/tpu01yzx
	rebase = group user/tpu01yzx
	removeReviewer = group user/tpu01yzx
	submit = group user/tpu01yzx
[access "refs/heads/*"]
	read = group user/tpu01yzx
	create = group user/tpu01yzx
	push = +force group user/tpu01yzx
	pushMerge = group user/tpu01yzx
[access "refs/tags/*"]
	push = +force group user/tpu01yzx
	pushTag = group user/tpu01yzx
	pushSignedTag = group user/tpu01yzx
